* {
    margin:0;
    padding:0;
}

.center-block {
   margin-left:auto;
   margin-right:auto;
   display:block;
}

.text-center {
   text-align:center
}

.container-padding {
    padding: 3rem 1.5rem;
    text-align: center;
}

.icon-resize {
    height: auto; 
    width: auto; 
    max-width: 200px; 
    max-height: 200px;

}

.index-content {
    padding: 1cm;
}

p.content-padding {
    padding: 2px 10px;
}

.image-padding {
    padding: 0px 2px 20px;
}